#index_titulo {
    border-right: 4px solid white;
    content: "";
    white-space: nowrap;
    width: 100%;
    max-width: fit-content;
    height: min-content;
  
    animation: escribiendo 1.5s steps(17), parpadeo .25s infinite step-end alternate;
  
    overflow: hidden ;
  }
  
  #index_presentacion {
    border-right: 4px solid white;
    content: "";
    white-space: nowrap;
    width: 100%;
    max-width: fit-content;
    height: min-content;
  
    animation: escribiendo 1.5s steps(22), parpadeo .25s infinite step-end alternate;
  
    overflow: hidden ;
  }
  
  #index_informacion {
    border-right: 4px solid white;
    content: "";
    white-space: nowrap;
    width: 100%;
    max-width: fit-content;
    height: min-content;
  
    animation: escribiendo 3.25s steps(56), parpadeo .25s infinite step-end alternate;
  
    overflow: hidden ;
  }

  #index_inicio {
    border-right: 4px solid white;
    content: "";
    white-space: nowrap;
    width: 100%;
    max-width: fit-content;
    height: min-content;
  
    animation: escribiendo 1.75s steps(32), parpadeo .25s infinite step-end alternate;
  
    overflow: hidden ;
  }

/* Keyframes */

@keyframes escribiendo {
  from{
    width: 0%;
  } to{
    width: 100%;
  }
  }
    
@keyframes parpadeo {
      50% {border-color: transparent}
    }
    