#index_titulo {
    background: none;
    border-right: 4px solid white;
    content: "";
    white-space: nowrap;
    width: 17ch;
  
    animation: escribiendo_titulo 1.5s steps(17), parpadeo .25s infinite step-end alternate;
  
    overflow: hidden ;
  }
  
  #index_presentacion {
    background: none;
    border-right: 4px solid white;
    content: "";
    white-space: nowrap;
    width: 86ch;
  
    animation: escribiendo_presentacion 5.5s steps(86), parpadeo .25s infinite step-end alternate;
  
    overflow: hidden ;
  }
  
  #index_informacion {
    background: none;
    border-right: 4px solid white;
    content: "";
    white-space: nowrap;
    width: 99ch;
  
    animation: escribiendo_informacion 5.5s steps(99), parpadeo .25s infinite step-end alternate;
  
    overflow: hidden ;
  }

/* Keyframes */

@keyframes escribiendo_titulo {
  from{
    width: 0ch;
  } to {
    width: 17;
  }
  }
    
@keyframes escribiendo_presentacion {
  from{
    width: 0ch;
  } to {
    width: 86;
  }
  }

@keyframes escribiendo_informacion {
  from{
    width: 0ch;
  } to {
    width: 99;
  }
  }
    
@keyframes parpadeo {
      50% {border-color: transparent}
    }
    