/* Elementos html */

* {
  color: greenyellow;
  justify-content: center;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

main{
  justify-content: left;
  display: flex;
  padding: 0px;
}

body{
  background-color: rgba(0, 0, 0);
  background-size: 100% 100%;
}

header {
  background-color: #000000;
  width: fit-content;
}

nav{
  padding: 0px;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: auto;
}

aside{
  max-width: fit-content;
  justify-content: center;
  height: max-content;
}

section{
  margin-left: 20px;
  margin-right: 0px;
  max-width: fit-content;
}

footer{
  align-items: center;
  justify-content: center;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/264/871/595/blurred-computer-programming-html-wallpaper-preview.jpg");
  max-width: 100%;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  padding: 0px;
}

/* Elementos */
  

p{
  width: auto;
  height: auto;
  max-width: fit-content;
}

h2{
  max-width: 100%;
  text-decoration: underline;
}

/* Clases, y subelementos */



.article{
  background: rgb(26, 26, 26);
}

/* Elementos por id */

#volver_al_inicio{
  position: relative;
  margin: auto;
  align-items: center;

  width: max-content;
  display: block;
}

#medios_titulo{
  color: white;
  text-decoration: underline;
}