.row::after {
    content: "";
    clear: both;
    display: table;
  }

[class*="lcol-"] {
    float: left;
    padding: 10px;
  }
  
.lcol-1 {width: 8.33%;}
.lcol-2 {width: 16.66%;}
.lcol-3 {width: 25%;}
.lcol-4 {width: 33.33%;}
.lcol-5 {width: 41.66%;}
.lcol-6 {width: 50%;}
.lcol-7 {width: 58.33%;}
.lcol-8 {width: 66.66%;}
.lcol-9 {width: 75%;}
.lcol-10 {width: 83.33%;}
.lcol-11 {width: 91.66%;}
.lcol-12 {width: 100%;}

[class*="rcol-"] {
  float: right;
  padding: 10px;
}

.rcol-1 {width: 8.33%;}
.rcol-2 {width: 16.66%;}
.rcol-3 {width: 25%;}
.rcol-4 {width: 33.33%;}
.rcol-5 {width: 41.66%;}
.rcol-6 {width: 50%;}
.rcol-7 {width: 58.33%;}
.rcol-8 {width: 66.66%;}
.rcol-9 {width: 75%;}
.rcol-10 {width: 83.33%;}
.rcol-11 {width: 91.66%;}
.rcol-12 {width: 100%;}