main aside img{
    justify-content: center;
    padding: 10px;
    
    width: 100%;
    height: 128px;
    object-fit: cover;
  }
  
  aside p{
    color: white;
    font-size: xx-small;
    vertical-align: text-bottom;
    width: max-content;
    font-size: fit-content;
    margin-bottom: auto;
    display: grid;
  }