/* Dispositivos pequeños(celulares) */

@media (max-width: 767px){
   main{
      display: block;
   }

   main aside img{
      position: relative;
      justify-content: center;
      width: 90%;
      height: fit-content;
      padding: 10px;
      display: flex;
      margin: auto;
    }

    main aside p {
      position: relative;
      margin: auto;
    }

    main section p {
      width: 90%;
      padding: 10px;
    }
  
}